@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&display=swap');


body {background-color: black;}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: nunito sans, sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;

}

h3 {
    font-weight: 400;
    font-size: 1.6rem;
    
}

p {
    font-weight: 400;
    font-size: 1.7rem;
    
}

.menu {
    background-color: #570000;

}

.cont-logo-main {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 230px;
    padding-left: 50px; 
}

.nav-link {
    font-family: nunito sans, sans-serif; 
    color: white;
    font-size: 1.6rem;
}

.hero {
    background-image: url(./img/HERO_BKG.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-row {
    height: 90vh;
}

.col-zero {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 991px) {
.col-zero {
    display: flex;
    justify-content: center;
}
}

.zero-cover {
    width: 350px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 7%;
}

.hero-info {
    color: white;
}

.hero-info-p {
    width: 500px;
}

@media (max-width: 991px) {
    .hero-info-p-res{
        width: 350px;
        text-align: center;
    }}

.button {
    width: 200px;
    height: 50px;
    font-family: nunito sans, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #efefef;
    border: none;
    background-color: #4AB824;
    border-radius: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
.col-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}}