@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&display=swap');


body {background-color: rgb(233, 245, 248);}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: nunito sans, sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;

}

h3 {
    font-weight: 400;
    font-size: 1.6rem;
    
}

p {
    font-weight: 400;
    font-size: 1.7rem;
    
}

.menu {
    background-color: #570000;

}

.cont-logo-main {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 230px;
    padding-left: 50px; 
}

.nav-link {
    font-family: nunito sans, sans-serif; 
    color: white;
    font-size: 1.6rem;
}

.hero {
    background-image: url(./img/HERO_BKG.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-row {
    height: 90vh;
}

.col-zero {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 991px) {
.col-zero {
    display: flex;
    justify-content: center;
}
}

.zero-cover {
    width: 350px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 7%;
}

.hero-info {
    color: white;
}

.hero-info-p {
    width: 500px;
}

@media (max-width: 991px) {
    .hero-info-p-res{
        width: 350px;
        text-align: center;
    }}

.button {
    width: 200px;
    height: 50px;
    font-family: nunito sans, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #efefef;
    border: none;
    background-color: #4AB824;
    border-radius: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
.col-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}}

.bot-icon {
    font-size: 34px !important;
}

.col-ia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    
}

.title-ia {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lin-strk {
    border: 1px solid black;
}

.row-epi {
    margin-top: 80px;
    margin-bottom: 80px;
}

.epi {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pod {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pod-cover {
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 7%;
}

.title-pod {
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 600;
}

.play-icon {
    position: absolute;
    font-size: 80px !important;
    color: #ffffff;
    top: 1666px;
}

.cont-foot {
    background-color: #252525;
}

.list-fotter {
    font-family: nunito sans, sans-serif;
    list-style-type:none ;
    font-size: 1.3rem;
    font-weight: 400;
    color: #efefef;
    padding-top: 30px;
}

.li-menu-r {
    color: #efefef;
    text-decoration: none;
}