@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&display=swap');


body {background-color: black;}

html {
    font-size: 62.5%;
}

.menu {
    background-color: #570000;

}

.cont-logo-main {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 230px;
    padding-left: 50px; 
}

.nav-link {
    font-family: nunito sans, sans-serif; 
    color: white;
    font-size: 1.6rem;
}

.hero {
    background-image: url(./img/HERO_BKG.jpg);
    height: 800px;
    background-size: cover;
}

.col-hero {
    text-align: center;
}

.title-cover-hero {
    color: #efefef;
}

.description-cover {
    color: #efefef;
    width: 340px;
}

.button {
    width: 250px;
    height: 60px;
    font-family: nunito sans, sans-serif;
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;
    color: #efefef;
    border: none;
    background-color: #4AB824;
    padding: 0;
    border-radius: 30px;
}

.hero-c {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.cover {
    display: inline-block;
    width: 300px;
}

.zero {
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7%;

}
